<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>

<nav class="navbar">
	<ul>
		<li>Service docs</li>
		<li>REST API docs</li>
	</ul>
</nav>

<div class="sidebar">
	<ul>
	</ul>
</div>

<div class="content">
	<article>
		{{> @partial-block }}
	</article>
</div>

</body>
</html>